# 이미지 데이터셋 이름 csv 파일에 입력

In [8]:
import os
path = r'D:\life_data'
file_list = os.listdir(path)
file_list = sorted(file_list)
#print(file_list)

ls = []
for file in file_list:
    for _ in range(5):
        ls.append(file)

In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame(ls, columns = ['images'])

In [11]:
df.head(11)

              images
0     _aug_1_ex1.jpg
1     _aug_1_ex1.jpg
2     _aug_1_ex1.jpg
3     _aug_1_ex1.jpg
4     _aug_1_ex1.jpg
5    _aug_1_ex10.jpg
6    _aug_1_ex10.jpg
7    _aug_1_ex10.jpg
8    _aug_1_ex10.jpg
9    _aug_1_ex10.jpg
10  _aug_1_ex100.jpg

In [12]:
df.to_csv(r'C:\Users\82108\Desktop\life_data.csv', index=False)

In [13]:
df2 = pd.read_csv(r'C:\Users\82108\Desktop\life_data.csv')

In [14]:
df2.head()

           images
0  _aug_1_ex1.jpg
1  _aug_1_ex1.jpg
2  _aug_1_ex1.jpg
3  _aug_1_ex1.jpg
4  _aug_1_ex1.jpg

In [15]:
len(df2)

50200